<% content_for :body_content_title do %>
  <%= @variant.name %>
<% end %>

<% content_for :body_content_left do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @variant.name %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @variant.image, nil %>
    </p>
  </section>
  <section>
    <h1>Price</h1>
    <p>
      <%=raw @variant.price %>
    </p>
  </section>
  <section>
    <h1>Stock Code</h1>
    <p>
      <%=raw @variant.stock_code %>
    </p>
  </section>
<% end %>

<% content_for :body_content_right do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="variants">
      <% @variants.each do |variant| %>
        <li>
          <%= link_to variant.name, variant_path(variant) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
